{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
{% endblock %}
{% block content %}
    <div class="ui input" style="width:100%; text-align:center; height:60px; line-height:80px; font-size: 20px;">
        {{title}}
    </div>
    <div class="ui input" style="margin-left:10px; margin-bottom:20px;">
        <form class="form" method="GET" action='{{request.base_url}}'>
            <div class="ui input" style="width:100%; margin-bottom:10px;">
                <input type="text" name="begin" value="{{begin}}"/>
            </div>
            <div class="ui input" style="width:100%; margin-bottom:20px;">
                <input type="text" name="end" value="{{end}}"/>
            </div>
            <input type="submit" style="width:100px;"/>
        </form>
    </div>
    <div id="graph-container"></div>
{% endblock %}
{% block postjs %}
    <script type="text/javascript" src="/gds/static/js/highslide/highslide/highcharts.js"></script>
    <script type="text/javascript" src="/gds/static/js/highslide/highslide/exporting.js"></script>
    <script type="text/javascript" src="/gds/static/js/highslide/highslide/highslide-full.min.js"></script>
    <script type="text/javascript" src="/gds/static/js/highslide/highslide/highslide.config.js"></script>
{% include "mtaskdetail.html.js" ignore missing %}
{% endblock %}