{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">任务数据</div>
    </div>
    <table>
        <caption style="font-size:20px;">{{title}}</caption>
        <thead>
            <tr>
                {% for one in columns %}
                    <th>{{one}}</th>
                {% endfor %}
                
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for col in columns %}
                        <td style="padding-right:10px;">{{row[col]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ui page grid" style="text-align: center; margin-bottom: 150px; margin-top: 50px;">
        <div class="twelve wide column">
            <a class="item" href="?page=1&total={{total}}">First
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page < 2 %}
            <a class="disabled item">
                Previous
            </a>
            {% else %}
            <a class="item" href="?page={{page - 1}}&total={{total}}">
                Previous
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="disabled item">
            {{page}}/{{count}}
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page > count - 1 %}
            <a class="disabled item">
                Next
            </a>
            {% else %}
            <a class="item" href="?page={{page + 1}}&total={{total}}">
                Next
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="item" href="?page={{count}}&total={{total}}">Last
            </a>
        </div>
    </div>
{% endblock %}