{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">任务</div>
    </div>
    <div>
        <a href="detail" class="ui button">新建任务</a>
    </div>
    <ul class="ui list" style="margin-left: 5%;">
    {% for one in tasks %}
        <li><a href="detail/{{one['id']}}"><span>{{one['task_name']}}</span></a><span>{{one['status_desc']}}</span><span>管理任务:&nbsp;&nbsp;</span>
        <div id="status" class="ui selection dropdown" tabindex="0">
            <span name="tid" style="display:none;">{{one['id']}}</span>
            {% if one['status'] == 0 %}
                <input type="hidden" value="0">
            {% else %}
                <input type="hidden" value="1">
            {% endif %}
            <i class="dropdown icon"></i>
            <div class="default text">
                {% if one['status'] == 0 %}
                    关闭
                {% else %}
                    启动
                {% endif %}
            </div>
            <div class="menu">
                <div class="item" data-value="0">关闭</div>
                <div class="item" data-value="1">启动</div>
            </div>
        </div></li>
    {% endfor %}
    </ul>
    <div class="ui page grid" style="text-align: center; margin-bottom: 150px; margin-top: 50px;">
        <div class="twelve wide column">
            <a class="item" href="list?page=1&total={{total}}">First
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page < 2 %}
            <a class="disabled item">
                Previous
            </a>
            {% else %}
            <a class="item" href="list?page={{page - 1}}&total={{total}}">
                Previous
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="disabled item">
            {{page}}/{{count}}
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page > count - 1 %}
            <a class="disabled item">
                Next
            </a>
            {% else %}
            <a class="item" href="list?page={{page + 1}}&total={{total}}">
                Next
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="item" href="list?page={{count}}&total={{total}}">Last
            </a>
        </div>
    </div>
{% endblock %}
{% block postjs %}
    <script type="text/javascript">
        $('#status').dropdown({
            action: function(value, text) {
                alert(text);
                alert(value);
                $('#status input[type="hidden"]').val(text);
                $('#status .text').text(value);
                $.ajax({
                    url:'/gds/m/task/change/'+$("#status span[name='tid']").text(),
                    type:'post',
                    data:{status:text},
                    async:false,
                    dataType:'json',
                    success:function(data){
                        $("#status .menu").removeClass("visible");
                        $("#status .menu").addClass("hidden");
                        $("#status").removeClass("active");
                        $("#status").removeClass("visible");
                        $("#status div[data-value='"+text+"']").addClass("active");
                        $("#status div[data-value='"+text+"']").addClass("selected");
                    },
                    error:function(XMLHttpRequest, status, thrown){
                        ;
                    }
                });
            }
        });
    </script>
{% endblock %}