{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
        function save(){
            $.ajax({
                url:location.href,
                type:'post',
                data:{
                    // host:$("#host").val(),
                    // pinyin:$("#pinyin").val(),
                    desc:$("#desc").val(),
                },
                async:false,
                dataType:'json',
                success:function(data){
                    location.href=location.href.substring(0, location.href.indexOf('detail')) + 'list/{{uid}}';
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
        }
        function reset(){
            $("#desc").val("");
        }
    </script>
{% endblock %}
{% block content %} 
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">脚本数据源</div>
    </div>
    {% for flow in article['flows'] %}
        <div class="ui input" style="width:100%; margin:15px 20px;">
            <a href="/gds/p/section/list/{{article['_id']}}?flow={{flow}}">{{flow}}脚本抓取流</a>
        </div>
    {% endfor %}
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>name:&nbsp;&nbsp;</span><span>{{article['name']}}</span>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>clsname:&nbsp;&nbsp;</span><span>{{article['clsname']}}</span>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>desc:&nbsp;&nbsp;</span><input id="desc" type="text" style="width:60%;" value="{{article['desc']|default('', true)}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>脚本文件路径:&nbsp;&nbsp;</span><span>{{article['filepath']}}</span>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>脚本文件路径是否更新:&nbsp;&nbsp;</span><span>{{article['fileupdate']}}</span>
    </div>
    <button class="ui primary button" onclick="save()">保存</button>
    <button class="ui button" onclick="reset()">重置</button>
{% endblock %}