{% extends "base.html" %}
{% block meta %}
    <meta http-equiv="refresh" content="3"/>
{% endblock %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">活动任务</div>
    </div>
    <table>
        <caption style="font-size:20px;">{{title}}</caption>
        <thead>
            <tr>
                <th>tid</th>
                <th>sid</th>
                <th>status_desc</th>
                <th>priority</th>
                <th>methodId</th>
                <th>times</th>
                <th>args</th>
                <th>kwargs</th>
            </tr>
        </thead>
        <tbody>
            {% for one in tasks %}
                <tr>
                    <td style="padding-right:10px;">{{one['tid']}}</td>
                    <td style="padding-right:10px;">{{one['sid']}}</td>
                    <td style="padding-right:10px;">{{one['status_desc']}}</td>
                    <td style="padding-right:10px;">{{one['priority']}}</td>
                    <td style="padding-right:10px;">{{one['methodId']}}</td>
                    <td style="padding-right:10px;">{{one['times']}}</td>
                    <td style="padding-right:10px;">{{one['args']}}</td>
                    <td style="padding-right:10px;">{{one['kwargs']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ui page grid" style="text-align: center; margin-bottom: 150px; margin-top: 50px;">
        <div class="twelve wide column">
            <a class="item" href="?page=1&total={{total}}">First
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page < 2 %}
            <a class="disabled item">
                Previous
            </a>
            {% else %}
            <a class="item" href="?page={{page - 1}}&total={{total}}">
                Previous
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="disabled item">
            {{page}}/{{count}}
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page > count - 1 %}
            <a class="disabled item">
                Next
            </a>
            {% else %}
            <a class="item" href="?page={{page + 1}}&total={{total}}">
                Next
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="item" href="?page={{count}}&total={{total}}">Last
            </a>
        </div>
    </div>
{% endblock %}