<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="teleusername=no"/>
    <meta name="format-detection" content="address=no"/>
    {% if appname %}
        <title>{{appname}}</title>
    {% else %}
        <title>pholcus</title>
    {% endif %}
    <link rel="icon" href="/gds/static/img/spider.ico">
    <link rel="stylesheet" type="text/css" href="/gds/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/gds/static/css/semantic.min.css">
    {% block precss %}{% endblock %}
    <script type="text/javascript" src="/gds/static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/gds/static/js/lib/semantic.min.js"></script>
    <script type="text/javascript" src="/gds/static/js/main.js"></script>
    {% block prejs %}{% endblock %}
</head>
<body>
    {% if logined %}
        <div class="another">
          <div class="ui secondary pointing menu">
            <a class="item" href="/gds/m/task/list">
              <!-- <i class="home icon"></i> --> 任务监控
            </a>
            <a class="item" href="/gds/p/task/list">
              <!-- <i class="mail icon"></i> --> 任务管理
            </a>
            <a class="item" href="/gds/a/info">
              <!-- <i class="user icon"></i> --> 我的
            </a>
            <div class="right menu">
              <!-- <div class="item">
                <div class="ui icon input">
                  <input type="text" placeholder="搜索...">
                  <i class="search link icon"></i>
                </div>
              </div> -->
              <a class="ui item" href="/gds/a/logout">
                退出
              </a>
            </div>
          </div>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    {% block postcss %}{% endblock %}
    {% block postjs %}{% endblock %}
</body>
</html>
