{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">脚本分步抓取器</div>
    </div>
    <div>
        <a href="/gds/p/datasource/detail?sid={{sid}}" class="ui button">增加</a>
    </div>
    <ul class="ui list" style="margin-left: 5%;">
        {% for one in datasources %}
            <li>
                <a href="/gds/p/section/detail/{{one['id']}}?sid={{sid}}"><span>{{one["name"]}}&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
            </li>
        {% endfor %}
    </ul>
    <div class="ui page grid" style="text-align: center; margin-bottom: 150px; margin-top: 50px;">
        <div class="twelve wide column">
            <a class="item" href="?page=1&total={{total}}">First
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page < 2 %}
            <a class="disabled item">
                Previous
            </a>
            {% else %}
            <a class="item" href="?page={{page - 1}}&total={{total}}">
                Previous
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="disabled item">
            {{page}}/{{count}}
            </a>
            &nbsp;&nbsp;&nbsp;
            {% if page > count - 1 %}
            <a class="disabled item">
                Next
            </a>
            {% else %}
            <a class="item" href="?page={{page + 1}}&total={{total}}">
                Next
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <a class="item" href="?page={{count}}&total={{total}}">Last
            </a>
        </div>
    </div>
{% endblock %}