{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div>
        {% for i in dbs %}
            <h3>name: {{i['name']}}</h3>
            <label>rdb</label>
            <input type='text' name='{{i["id"]}}_rdb' value='{{i["rdb"]}}'/>
            <label>wdb</label>
            <input type='text' name='{{i["id"]}}_wdb' value='{{i["wdb"]}}'/>
            <label>limit</label>
            <input type='text' name='{{i["id"]}}_limit' value='{{i["limit"]}}'/>
            <h3>filepath: {{i['filepath']}}</h3>
            <h3>extra: {{i['extra']}}</h3>
            {% for j in i['dbl'] %}
                <p>
                    <a href="detail/{{j["id"]}}"><span>{{j["key"]}}</span></a>
                </p>
            {% endfor %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}