{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
        function save(){
            $.ajax({
                url:location.href,
                type:'post',
                data:delnull({
                    task_name:$("#task_name").val(),
                    extra:$("#extra").val(),
                    category:$("#category").val(),
                    tag:$("#tag").val(),
                    aid:$("#aid").val(),
                    flow:$("#flow").val(),
                    sid:$("#sid").val(),
                    params:$("#params").val(),
                    timeout:$("#timeout").val(),
                    worknum:$("#worknum").val(),
                    queuetype:$("#queuetype").val(),
                    worktype:$("#worktype").val(),
                    trace:$("#trace").val(),
                }),
                async:false,
                dataType:'json',
                success:function(data){
                    location.href=location.href.substring(0, location.href.indexOf('detail')) + 'list';
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
        }
        function clone(){
            location.href = '/gds/p/task/detail?tid={{task["id"]}}';
        }
        function reset(){
            $("#task_name").val("");
            $("#extra").val("");
            $("#datamodel_name").val("");
        }
        $(document).ready(function(){
            $.ajax({
                url:'/gds/p/task/articles',
                type:'get',
                async:false,
                dataType:'json',
                success:function(data){
                    amenus = []
                    for(var k=0; k<data.length; k++){
                        amenus.push('<div class="item" data-value="'+data[k]['id']+'">'+data[k]['article_name']+'</div>');
                    }
                    $("#amenu").html(amenus.join(''));
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
            $.ajax({
                url:'/gds/p/task/flows?aid='+$('#aid').val(),
                type:'get',
                async:false,
                dataType:'json',
                success:function(data){
                    fmenus = []
                    for(var k=0; k<data.length; k++){
                        fmenus.push('<div class="item" data-value="'+data[k]['flow']+'">'+data[k]['flow']+'</div>');
                    }
                    $("#fmenu").html(fmenus.join(''));
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
            $.ajax({
                url:'/gds/p/task/sections?aid='+$('#aid').val()+'&flow='+$('#flow').val(),
                type:'get',
                async:false,
                dataType:'json',
                success:function(data){
                    smenus = []
                    for(var k=0; k<data.length; k++){
                        smenus.push('<div class="item" data-value="'+data[k]['id']+'">'+data[k]['section_name']+'</div>');
                    }
                    $("#smenu").html(smenus.join(''));
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">任务管理</div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span >名称:&nbsp;&nbsp;</span><input id="task_name" type="text" style="width:60%;" value="{{task['task_name']}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>描述:&nbsp;&nbsp;</span><input id="extra" type="text" style="width:60%;" value="{{task['extra']|default('', true)}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>分类:&nbsp;&nbsp;</span><input id="category" type="text" style="width:60%;" value="{{task['category']|default('', true)}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>标签:&nbsp;&nbsp;</span><input id="tag" type="text" style="width:60%;" value="{{task['tag']|default('', true)}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>任务类型:&nbsp;&nbsp;</span>
        <div id="tasktype" class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="type" value="{{task['type']|default('', 'ONCE')}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['type']|default('', 'ONCE')}}</div>
            <div id="tmenu" class="menu">
                <div class="item" data-value="ONCE">ONCE</div>
                <div class="item" data-value="FOREVER">FOREVER</div>
            </div>
        </div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>执行间隔:&nbsp;&nbsp;</span><input id="period" type="text" style="width:60%;" value="{{task['period']|default('', true)}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>article:&nbsp;&nbsp;</span>
        <div id="article" class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="aid" value="{{task['aid']|default('', true)}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['article_name']}}</div>
            <div id="amenu" class="menu">
            </div>
        </div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>flow:&nbsp;&nbsp;</span>
        <div id='flows' class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="flow" value="{{task['flow']|default('', true)}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['flow']}}</div>
            <div id="fmenu" class="menu">
            </div>
        </div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>section:&nbsp;&nbsp;</span>
        <div id="section" class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="sid" value="{{task['sid']|default('', true)}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['section_name']}}</div>
            <div id="smenu" class="menu">
            </div>
        </div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>params:&nbsp;&nbsp;</span><input id="params" type="text" style="width:60%;" value="{{task['params']|default('', true)}}">
    </div>
    <!-- <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>worknum:&nbsp;&nbsp;</span><input id="worknum" type="text" style="width:60%;" value="{{task['worknum']}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>timeout:&nbsp;&nbsp;</span><input id="timeout" type="text" style="width:60%;" value="{{task['timeout']}}">
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>队列类型:&nbsp;&nbsp;</span>
        <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="queuetype" value="{{task['queuetype']}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['queuetype_name']}}</div>
            <div class="menu">
                <div class="item" data-value="P">本地队列</div>
                <div class="item" data-value="B">beanstalk队列</div>
            </div>
        </div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>worktype:&nbsp;&nbsp;</span>
        <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="worktype" value="{{task['worktype']}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['worktype_name']}}</div>
            <div class="menu">
                <div class="item" data-value="THREAD">线程</div>
                <div class="item" data-value="COROUTINE">协程</div>
            </div>
        </div>
    </div>
    <div class="ui input" style="width:100%; margin:15px 20px;">
        <span>是否跟踪子任务:&nbsp;&nbsp;</span>
        <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" id="trace" value="{{task['trace']}}">
            <i class="dropdown icon"></i>
            <div class="default text">{{task['trace_name']}}</div>
            <div class="menu">
                <div class="item" data-value="0">否</div>
                <div class="item" data-value="1">是</div>
            </div>
        </div>
    </div> -->
    <button class="ui primary button" onclick="save()">保存</button>
    <button class="ui button" onclick="reset()">重置</button>
    <button class="ui button" onclick="clone()">克隆任务</button>
{% endblock %}
{% block postjs %}
    <script type="text/javascript">
        $('.ui.dropdown').dropdown({});
        $('#article').dropdown({
            action: function(value, text) {
                $('#aid').val(text);
                $('#article .default.text').text(value);
                $.ajax({
                    url:'/gds/p/task/flows?aid='+text,
                    type:'get',
                    async:false,
                    dataType:'json',
                    success:function(data){
                        fmenus = []
                        for(var k=0; k<data.length; k++){
                            fmenus.push('<div class="item" data-value="'+data[k]['flow']+'">'+data[k]['flow']+'</div>');
                        }
                        $("#fmenu").html(fmenus.join(''));
                        $('#flow').val('');
                        $('#flows .default.text').text('');
                        $("#smenu").html('');
                        $('#section').val('');
                        $('#section .default.text').text('');

                        $("#amenu").removeClass("visible");
                        $("#amenu").addClass("hidden");
                        $("#article").removeClass("active");
                        $("#article").removeClass("visible");
                        $("#amenu div[data-value='"+text+"']").addClass("active");
                        $("#amenu div[data-value='"+text+"']").addClass("selected");
                    },
                    error:function(XMLHttpRequest, status, thrown){
                        ;
                    }
                });
            }
        });
        $('#flows').dropdown({
            action:function(value, text){
                $('#flow').val(text);
                $('#flows .default.text').text(value);
                $.ajax({
                    url:'/gds/p/task/sections?aid='+$('#aid').val()+'&flow='+text,
                    type:'get',
                    async:false,
                    dataType:'json',
                    success:function(data){
                        smenus = []
                        for(var k=0; k<data.length; k++){
                            smenus.push('<div class="item" data-value="'+data[k]['id']+'">'+data[k]['section_name']+'</div>');
                        }
                        $("#smenu").html(smenus.join(''));
                        $('#section').val('');
                        $('#section .default.text').text('');

                        $("#fmenu").removeClass("visible");
                        $("#fmenu").addClass("hidden");
                        $("#flows").removeClass("active");
                        $("#flows").removeClass("visible");
                        $("#fmenu div[data-value='"+text+"']").addClass("active");
                        $("#fmenu div[data-value='"+text+"']").addClass("selected");
                    },
                    error:function(XMLHttpRequest, status, thrown){
                        ;
                    }
                });
            }
        });
        $('#section').dropdown();
    </script>
{% endblock %}