{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui form">
        <div class="field">
            <label>数据队列类型</label>
            <input type="text" name="queuetype" placeholder="P"/>
        </div>
        <div class="field">
            <label>工作者类型</label>
            <input type="text"  name="worktype" placeholder="COROUTINE"/>
        </div>
        <div class="field">
            <label>工作者数量</label>
            <input type="text"  name="worknum" placeholder="6"/>
        </div>
        <div class="field">
            <label>是否跟踪子任务</label>
            <input type="text"  name="trace" placeholder="False"/>
        </div>
        <div class="field">
            <label>执行流</label>
            <input type="text"  name="flow" placeholder="www"/>
        </div>
    </div>
{% endblock %}