{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">脚本分步抓取流</div>
    </div>
    <div>
        <a href="/gds/p/section/detail?aid={{aid}}" class="ui button">增加</a>
    </div>
    <div class="ui styled accordion" style="width:100%">
        {% for flow in flows %}
            <div class="title"><i class="dropdown icon"></i>{{flow['flow']}}</div>
            <div class="content">
                <div class="accordion">
                    {% for section in sections[flow['flow']] %}
                        <div class="title"><i class="dropdown icon"></i>{{section['name']}} </div>
                        <div class="content">
                            <div class="ui input" style="width:100%; margin:15px 20px;">
                                <span>next_id:&nbsp;&nbsp;</span><input id="next_id" type="text" style="width:60%;" value="{{section['next_id']}}">
                            </div>
                            <div class="ui input" style="width:100%; margin:15px 20px;">
                                <span>index:&nbsp;&nbsp;</span><input id="index" type="text" style="width:60%;" value="{{section['index']|default('', true)}}">
                            </div>
                            <div class="ui input" style="width:100%; margin:15px 20px;">
                                <span>retry:&nbsp;&nbsp;</span><input id="retry" type="text" style="width:60%;" value="{{section['retry']}}">
                            </div>
                            <div class="ui input" style="width:100%; margin:15px 20px;">
                                <span>timelimit:&nbsp;&nbsp;</span><input id="timelimit" type="text" style="width:60%;" value="{{section['timelimit']}}">
                            </div>
                            <div class="ui input" style="width:100%; margin:15px 20px;">
                                <span>store:&nbsp;&nbsp;</span><input id="store" type="text" style="width:60%;" value="{{section['store']|default('', true)}}">
                            </div>
                            <div class="accordion">
                                <div class="active title">datasource</div>
                                <div class="active content">
                                    <div class="accordion">
                                        {% for source in section['datasource'] %}
                                            <div class="title"><i class="dropdown icon"></i>{{source['name']}}</div>
                                            <div class="content">
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>method:&nbsp;&nbsp;</span><input id="method" type="text" style="width:60%;" value="{{source['method']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>url:&nbsp;&nbsp;</span><input id="url" type="text" style="width:60%;" value="{{source['url']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>data:&nbsp;&nbsp;</span><input id="data" type="text" style="width:60%;" value="{{source['data']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>headers:&nbsp;&nbsp;</span><input id="headers" type="text" style="width:60%;" value="{{source['headers']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>cookies:&nbsp;&nbsp;</span><input id="cookies" type="text" style="width:60%;" value="{{source['cookies']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>timeout:&nbsp;&nbsp;</span><input id="timeout" type="text" style="width:60%;" value="{{source['timeout']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>format:&nbsp;&nbsp;</span><input id="format" type="text" style="width:60%;" value="{{source['format']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>sid:&nbsp;&nbsp;</span><input id="sid" type="text" style="width:60%;" value="{{source['sid']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>ssid:&nbsp;&nbsp;</span><input id="ssid" type="text" style="width:60%;" value="{{source['ssid']|default('', true)}}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="active title">dataextract</div>
                                <div class="active content">
                                    <div class="accordion">
                                        {% for extract in section['dataextract'] %}
                                            <div class="title"><i class="dropdown icon"></i>{{extract['name']}}</div>
                                            <div class="content">
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>method:&nbsp;&nbsp;</span><input id="method" type="text" style="width:60%;" value="{{extract['method']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>path:&nbsp;&nbsp;</span><input id="path" type="text" style="width:60%;" value="{{extract['path']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>content:&nbsp;&nbsp;</span><input id="content" type="text" style="width:60%;" value="{{extract['content']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>parameter:&nbsp;&nbsp;</span><input id="parameter" type="text" style="width:60%;" value="{{extract['parameter']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>store:&nbsp;&nbsp;</span><input id="store" type="text" style="width:60%;" value="{{extract['store']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>sid:&nbsp;&nbsp;</span><input id="sid" type="text" style="width:60%;" value="{{extract['sid']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>dsid:&nbsp;&nbsp;</span><input id="dsid" type="text" style="width:60%;" value="{{extract['dsid']|default('', true)}}">
                                                </div>
                                                <div class="ui input" style="width:100%; margin:15px 20px;">
                                                    <span>pdeid:&nbsp;&nbsp;</span><input id="pdeid" type="text" style="width:60%;" value="{{extract['pdeid']|default('', true)}}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block postjs %}
    <script type="text/javascript">
    $('.ui.accordion').accordion();
    </script>
{% endblock %}