{% extends "base.html" %}
{% block css %}
    <style type="text/css">
    </style>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <ul>
        {% for one in datamodels %}
            <li>
                <a href="detail/{{one['id']}}"><span>{{one["id"]}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span>{{one["name"]}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span>{{one["comment"]}}</span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}