{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
      {% if appname %}
          <div class="ui large header">{{appname}}</div>
      {% else %}
          <div class="ui large header">pholcus</div>
      {% endif %}
    </div>
    <div>
        <form id="pwf" class="ui form segment" action="" method="">
          <p>Reset your password here.</p>
          <div class="field">
            <label>旧密码</label>
            <input type="password" name="oldpassword"/>
          </div>
          <div class="field">
            <label>新密码</label>
            <input type="password" name="newpassword"/>
          </div>
          <div class="field">
            <label>再输一遍新密码</label>
            <input type="password" name="shadow"/>
          </div>
          <input id="password" type="button" class="ui blue submit button" value="Reset"/>
        </form>
    </div>
{% endblock %}
{% block postjs %}
    <script type="text/javascript">
        $('#password').click(function(){
            $.ajax({
                url:'/gds/a/user/password',
                type:'post',
                data: $('#pwf').serialize(),
                dataType:'json',
                success:function(data){
                    alert(data.data);
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
        });
    </script>
{% endblock %}