{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">登陆</div>
    </div>
    <div>
        <form class="ui form segment" action="/gds/a/login" method="POST">
          <p>Let's go ahead and get you signed up.</p>
          <div class="field">
            <label>用户名</label>
            <input placeholder="Username" name="username" type="text"/>
          </div>
          <div class="field">
            <label>密 码</label>
            <input type="password" name="password"/>
          </div>
          <input type="submit" class="ui blue submit button" value="Submit"/>
        </form>
    </div>
{% endblock %}