{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
        var currcid = JSON.parse(decodeURIComponent("{{section['author']}}"));
        var curr = [];
        for(var cid in currcid)
            curr.push(cid);
        
        function check(obj){
            if($(obj).val()==''){
                alert($(obj).attr('name').replace('_name', '')+" name not empty.");
                $(obj).focus();
            }
            else
                if($(obj).attr('name')=='section_name')
                    $("#section_title").text($(obj).val());
                else{
                    if($(obj).attr('name') == 'source_name' || $(obj).attr('name') == 'extract_name'){
                        var cls = $(obj).attr('name').charAt(0);
                        var html = $("#"+cls+"t_"+$(obj).attr("id").replace(cls+"v_", "")).html().replace('>'+$("#"+cls+"t_"+$(obj).attr("id").replace(cls+"v_", "")).text(), '>'+$(obj).val());
                        $("#"+cls+"t_"+$(obj).attr("id").replace(cls+"v_", "")).html(html);
                    }
                }
        }
        function savesection(obj){
            var select = $(".ui.label");
            var addcid = [];
            var delcid = [];
            for(var k=0; k<select.length; k++){
                var cid = $(select[k]).attr('data-value');
                if(currcid[cid] == ''){
                    delete currcid[cid];
                    continue;
                }
                addcid.push($(select[k]).attr('data-value'));
            }
            for(var cid in currcid)
                delcid.push(cid);

            $.ajax({
                url:location.href,
                type:'post',
                data:delnull({
                    _id:$("#sid").val(),
                    name:$("#section_name").val(),
                    next:$("#next").val(),
                    index:$("#index").val(),
                    retry:$("#retry").val(),
                    timelimit:$("#timelimit").val(),
                    store:$("#store").val(),
                    additions:$("#additions").val(),
                    type:'section',
                    addcid:addcid.join(','),
                    delcid:delcid.join(',')
                }),
                async:false,
                dataType:'json',
                success:function(data){
                    location.href=location.href;
                },
                error:function(XMLHttpRequest, status, thrown){
                    ;
                }
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">脚本分步抓取流</div>
    </div>
    <div class="ui container" style="padding: .75em 1em;">
        &nbsp;&nbsp;&nbsp;&nbsp;<i class="save icon" alt="save" onclick="savesection(this)"></i>
    </div>
    <div class="ui styled accordion" style="width:100%">
        <div id="section_title" class="title active">{{section['name']}}</div>
        <div class="content active">
            <input id="sid" type="hidden" value="{{sid|default('', true)}}"/>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>section_name:&nbsp;&nbsp;</span><input id="section_name" name="section_name" type="text" style="width:60%;" value="{{section['name']}}" onblur="check(this)">
            </div>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>next:&nbsp;&nbsp;</span><input id="next_id" type="text" style="width:60%;" value="{{section['next']}}" readonly="true">
            </div>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>index:&nbsp;&nbsp;</span><input id="index" type="text" style="width:60%;" value="{{section['index']|default('', true)}}">
            </div>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>retry:&nbsp;&nbsp;</span><input id="retry" type="text" style="width:60%;" value="{{section['retry']}}">
            </div>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>timelimit:&nbsp;&nbsp;</span><input id="timelimit" type="text" style="width:60%;" value="{{section['timelimit']}}">
            </div>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>store:&nbsp;&nbsp;</span><input id="store" type="text" style="width:60%;" value="{{section['store']|default('', true)}}">
            </div>
            <div class="ui input" style="width:100%; margin:15px 20px;">
                <span>additions:&nbsp;&nbsp;</span><input id="additions" type="text" style="width:60%;" value="{{section['additions']|default('', true)}}">
            </div>
        </div>
    </div>
    {% if section['current'] %}
        <div class="ui" style="width:100%; margin:15px 20px;">
            <span>授权:&nbsp;&nbsp;</span>
            <select class="ui search selection dropdown" multiple id="multi-select">
            </select>
        </div>
    {% endif %}
{% endblock %}
{% block postjs %}
    <script type="text/javascript">
    $('.ui.accordion').accordion();
    {% if section['current'] %}
        $.ajax({
            url:'/gds/a/user/list',
            type:'post',
            async:false,
            dataType:'json',
            success:function(data){
                for(var k=0;k<data.data.length;k++)
                    $("#multi-select").append("<option value="+data.data[k]._id+">"+data.data[k].username+"</option>");
                $('#multi-select').dropdown('set selected', curr);
            },
            error:function(XMLHttpRequest, status, thrown){
                ;
            }
        });
    {% endif %}
    </script>
{% endblock %}