{% extends "base.html" %}
{% block precss %}
    <style type="text/css">
    </style>
{% endblock %}
{% block prejs %}
    <script type="text/javascript">
        function check(obj){
            if($(obj).val()==''){
                alert($(obj).attr('name').replace('_name', '')+" name not empty.");
                $(obj).focus();
            }
            else
                if($(obj).attr('name')=='flow_name'){
                    var html = $("#ft_"+$(obj).attr("id").replace("fv_", "")).html().replace('>'+$("#ft_"+$(obj).attr("id").replace("fv_", "")).text(), '>'+$(obj).val());
                    $("#ft_"+$(obj).attr("id").replace("fv_", "")).html(html);
                }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="ui sizer vertical segment" style="font-size: 20px; text-align: center;">
        <div class="ui large header">脚本分步抓取流</div>
    </div>
    {% for section in sections %}
        <div name="section_{{loop.index}}" class="ui input" style="width:100%; margin:15px 20px;">
            <span>{{loop.index}}:&nbsp;&nbsp;</span><input name="section_id" type="hidden" value="{{section['_id']}}"/><input name="section_name" type="text" style="width:60%;" value="{{section['name']}}" onblur="check(this)"/>&nbsp;&nbsp;
            <a href="/gds/p/section/detail/{{section['_id']}}?aid={{aid}}">详情</a>
        </div>
    {% endfor %}
{% endblock %}